<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./../css/jquery.mobile-1.4.5.css" />
    <script src="./../js/jquery.mobile-1.4.5.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Let's get started!</h1>
        </div>
        <div data-role="content">
            <div id="bank">
                <ul data-role="listview">                                             
                    <li ></li>
                    <li ></li>
                </ul>
            </div>
            <div id="introduction">
                <label id="lbIntroduction" ></label>
                <ul data-role="listview">
                    <li ></li>
                </ul>               
            </div>
            <form method="post" action="">
                <div>
                    <label for="language">Confirm your language preferences.</label>
                </div>
                <div>
                    <select name="language" id="language"></select>
                </div> 
                <label>Tap 'NEXT' to agree to the<a href="sdfsdf"> terms of use found here</a>. Lorem ipsum dolorem isten ias maniputham ipsum foreium einem. Lapili ipsum dorerm.</label>              
            </form>

        </div>
    </div>
</body>
</html>